.myAccountContainer {
  color: #ffffff;
  padding: 5px;
}

.active {
  background-color: antiquewhite;
  color: #000000;
}

.active:hover {
  background-color: antiquewhite;
  color: #000000;
}

.notActive:hover {
  background-color: antiquewhite;
  color: #000000;
}

.notActive {
  margin: 10px;
  background-color: rgba(250, 235, 215, 0.562);
  color: #000000;
}


.listGroup {
  /* border: 2px solid wheat; */
  display: flex;
}

.listGroupItem {
  width: 20%;
  height: auto;
  background-color: #222222;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
}

.videoTitle {
  color: #6be1ff;
  font-weight: bolder;
}

.listgroupitem {
  padding: 10px 15px;
  border-radius: 20px;
  margin: auto 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgb(0, 0, 0);
}

.listgroupitem:hover {
  background-color: antiquewhite;
}

.videoDetails {
  text-align: start;
  color: antiquewhite;
}

.videoDetails img {
  height: 200px;
  border-radius: 10px;
  width: 100%;
  text-align: start;
  color: antiquewhite;
}

.likes,
.dislikes {
  font-size: smaller;
  border-radius: 10px;
  padding: 3px;
  background-color: black;
  margin-right: 10px;
}

.username {
  display: flex;
  justify-content: space-between;
}

.likeDislike {
  margin: 0 10px;
  align-items: end;
  width: fit-content;
}

.heading1 {
  color: antiquewhite;
}

.heading {
  text-align: start;
  color: antiquewhite;
}

.inputGroup {
  margin: 10px;
  display: flex;
}

.inputGroup div {
  margin-right: 10px;
  display: flex;
}

.inputGroup input {
  background-color: transparent;
  display: flex;
  color: white;
}

.uploadVidBlock {
  padding: 10px;
  margin: 20px;
  background-color: #1e1e1e;
  box-shadow: 0px 3px 25px -5px #ffffff;
}

.uploadVidBlock button {
  color: #ffffff;
  padding: 10px;
  background-color: #3d3d3d;
  border: 3px solid #2b2b2b;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

}

.uploadVidBlock button:hover {
  background-color: antiquewhite;
  color: black;
}

.formcontrol {
  background-color: antiquewhite;
  border: 1px solid #444;
  color: #fff;
  margin-bottom: 15px;
}

.actionButton {
  margin-top: 20px;
}

.btnPrimary {
  text-decoration: none;
  color: #ffffff;
}

video {
  width: 100%;
  height: auto;
}