.myAccountContainer {
  color: #ffffff;
  padding: 5px;
}

.listgroupitem {
  padding: 10px 15px;
  text-align: left;
  border: none;
  border: 2px solid rgb(28, 143, 189);
  border-radius: 20px;
  margin: auto 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgb(28, 143, 189);
}

.listgroupitem:hover {
  background-color: rgb(0, 183, 255);
  color: #000000;
}


.heading1 {
  color: #24f1c5;
}

.heading {
  text-align: start;
  color: #7cffe3;
}

.inputGroup {
  margin: 10px;
  display: flex;
}

.inputGroup div {
  margin-right: 10px;
  display: flex;
}

.inputGroup input {
  background-color: transparent;
  display: flex;
  color: white;
}

.uploadVidBlock {
  padding: 10px;
  margin: 20px;
  background-color: #1e1e1e;
  box-shadow: 0px 3px 25px -5px #ffffff;
}

.uploadVidBlock button {
  color: #ffffff;
  padding: 10px;
  background-color: #3d3d3d;
  border: 3px solid #2b2b2b;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

}

.uploadVidBlock button:hover {
  background-color: #00e5d2;
  color: black;
}

.formcontrol {
  background-color: #217070;
  border: 1px solid #444;
  color: #fff;
  margin-bottom: 15px;
}

.actionButton {
  margin-top: 20px;
}

.btnPrimary {
  text-decoration: none;
  color: #ffffff;
}
.listgroupitem {
  background-color: #1e1e1e;
  color: #fff;
  border-color: #333;
  margin-bottom: 10px;
}

.listgroupitem small {
  color: #777;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}