.myAccountContainer {
  color: #ffffff;
  padding: 5px;
}
.listGroup{
  /* border: 2px solid wheat; */
  display: flex;
}

.listGroupItem {
  width: 20%;
  height: auto;
  background-color: #222222;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
}
.videoTitle{
  color: #6be1ff;
  font-weight: bolder;
}

.listgroupitem {
  padding: 10px 15px;
  border: 2px solid rgb(28, 143, 189);
  border-radius: 20px;
  margin: auto 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgb(0, 0, 0);
}

.listgroupitem:hover {
  background-color: rgb(0, 183, 255);
}

.videoDetails{
  text-align: start;
  color: #24f1c5;
}

.videoDetails img{
  height: 200px;
  border-radius: 10px;
  width: 100%;
  text-align: start;
  color: #24f1c5;
}

.likes , .dislikes{
  font-size: smaller;
  border-radius: 10px;
  padding: 3px;
  background-color: black;
  margin-right: 10px;
}

.username{
  display: flex;
  justify-content: space-between;
}
.likeDislike{
  margin: 0 10px;
  align-items:end;
  width: fit-content;
}

.heading1 {
  color: #24f1c5;
}

.heading {
  text-align: start;
  color: #7cffe3;
}

.inputGroup {
  margin: 10px;
  display: flex;
}

.inputGroup div {
  margin-right: 10px;
  display: flex;
}

.inputGroup input {
  background-color: transparent;
  display: flex;
  color: white;
}

.uploadVidBlock {
  padding: 10px;
  margin: 20px;
  background-color: #1e1e1e;
  box-shadow: 0px 3px 25px -5px #ffffff;
}

.uploadVidBlock button {
  color: #ffffff;
  padding: 10px;
  background-color: #3d3d3d;
  border: 3px solid #2b2b2b;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

}

.uploadVidBlock button:hover {
  background-color: #00e5d2;
  color: black;
}

.formcontrol {
  background-color: #217070;
  border: 1px solid #444;
  color: #fff;
  margin-bottom: 15px;
}

.actionButton {
  margin-top: 20px;
}

.btnPrimary {
  text-decoration: none;
  color: #ffffff;
}

video {
  width: 100%;
  height: auto;
}