.card {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e; /* Dark background */
  color: #fff; /* Light text */
  width: 100%; /* Adjusted for responsiveness */
  max-width: 640px; /* Maximum width */
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
  border-radius: 8px; /* Rounded corners */
  margin: 10px auto; /* Centering the card */
  padding: 10px;
  transition: transform 0.2s; /* Animation on hover */
}

.card:hover {
  transform: scale(1.02); /* Slightly increase size on hover */
}

.card a {
  text-decoration: none;
  color: #ffffff;
}

.imgFluid {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  border-top-left-radius: 8px; /* Rounded top corners */
  border-top-right-radius: 8px; /* Match card's rounded corners */
}

.cardBody {
  padding: 15px;
}

.cardTitle {
  text-align: start;
  color: #00e1ff; /* Bright color for titles */
}

.cardText, .likes, .dislikes {
  font-size: 14px;
  color: #ccc; /* Lighter text for readability */
  margin-top: 5px; /* Spacing */
}

.username, .likeDislike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Spacing for user and like/dislike */
}

.likes, .dislikes {
  background-color: #333; /* Dark background */
  color: #fff; /* Light text */
  padding: 3px 10px;
  border-radius: 10px; /* Rounded */
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 90%; /* Adjust width for tablet and below */
    margin: 10px auto; /* Centering in viewport */
  }

  .imgFluid {
    height: auto; /* Adjust height automatically */
  }
}

@media (max-width: 480px) {
  .cardTitle, .cardText {
    font-size: 12px; /* Smaller text on small devices */
  }

  .likes, .dislikes {
    font-size: 10px; /* Smaller badges for likes/dislikes */
  }
}
