.container {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #fff;
}
.sidebar {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 20px;
}

.listgroupitem,
.active {
  padding: 10px 15px;
  border: 2px solid antiquewhite;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #000;
  color: antiquewhite;
}

.active {
  background-color: antiquewhite;
  color: #000000;
}

.active:hover {
  background-color: antiquewhite;
  color: #000000;
}

.notActive:hover {
  background-color: antiquewhite;
  color: #000000;
}

.notActive {
  margin: 10px;
  background-color: rgba(250, 235, 215, 0.562);
  color: #000000;
}

.videoGrid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}
.noVideos {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .videoGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  .videoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 860px) {
  .videoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .videoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .videoGrid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .videoGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .videoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 860px) {
  .videoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .videoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
