.container {
    padding: 10px;
    overflow-y: scroll;
    height: 100vh;
}

.container::-webkit-scrollbar {
    width: 15px;
}

.container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

.strInp {
    /* border: 3px solid red; */
    margin: 10px;
    background-color: transparent;
    margin: 0 10px;
    color: aliceblue;
    border-radius: 10px;
    margin: 15px 10px;
}

.input {
    margin: auto;
}

.container::-webkit-scrollbar-thumb {
    background-color: antiquewhite;
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}

.SelectGen {
    margin: auto;
}

.container1 {
    display: flex;
}

.inputName {
    height: fit-content;
    display: flex;
}

.streamName {
    font-weight: bolder;
    color: antiquewhite;
}

.streamBtn {
    margin: auto;
    margin-left: 10px;
    border-radius: 5px;
    color: black;
    background-color: antiquewhite;
    cursor: pointer;
}

.startStream {
    cursor: pointer;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
}

.stopBtn {
    background-color: antiquewhite;
    color: black;
}

.stopBtn:hover {
    background-color: rgb(253, 220, 176);
    color: black;
}

.inputGroup {
    margin: 10px;
    display: flex;
}

.inputGroup select {
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    color: aliceblue;
}

option {
    padding: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

option:hover {
    padding: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
}

.inputGroup div {
    margin-right: 10px;
    display: flex;
}

.broadcastBox{
    margin: 15px;
}

.inputGroup input {
    background-color: transparent;
    display: flex;
    color: white;
}

.broadcastBox {
    display: flex;
    /* border: 3px solid red; */
}

.streamBox {
    width: 75%;
    padding: 10px;
}

.nameAndTip {
    display: flex;
    justify-content: space-between;
}

.cardTitle {
    margin: 0px 10px;
    padding: 0px 10px;
    font-weight: bolder;
    font-size: 30px;
}

.tipForm {
    height: auto;
}

.inputGroup {
    margin: 0px 10px;
    padding: 0px 10px;
}

.inputGroup input {
    background-color: transparent;
    color: aliceblue;
}

.userDatas {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}

.userImgAndName {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    color: aliceblue;
    border: none;
    flex-direction: row;
}

.username {
    font-weight: bolder;
    padding: 0 10px;
    padding-top: 13px;
    text-align: center;
    margin: 0 5px;
}

.userImg {
    border-radius: 50%;
    width: 50px;
}

.inputGroup button {
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
}

.likeDislike {
    /* padding-top: 5px; */
    color: aliceblue;
    margin: 10px;
}

.likes,
.dislikes {
    cursor: pointer;
    background-color: #7777;
    margin: 0 5px;
    font-size: 15px;
    color: aliceblue;
    padding: 3px 10px;
    border-radius: 10px;
}
.likes:hover,
.dislikes:hover {
    color: black;
    background-color: antiquewhite;
}

.subscribBtn button {
    border-radius: 10px;
    padding: auto;
    padding-bottom: 23px;
    border: 3px solid antiquewhite;
    background-color: transparent;
    color: aliceblue;
    width: 100px;
    height: 30px;
}

.subscribBtn button:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: black;
}