.container{
    display: flex;
}
.container a{
    text-decoration: none;
    color: aliceblue;
}
.userData{
    box-shadow: 5px 5px 5px gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.userData:hover{
    background-color: rgb(69, 69, 69);
}
.nameAndAcc{
    margin: 5px;
}
.userData img{
    border-radius: 50px;
    margin: 10px;
}