.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #303438;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.userImg{
  border-radius: 50%;
  width: 50px;
}

.logo {
  color: #fff;
  margin: 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 10px;
}

.item a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.item a:hover, .item a.active {
  background-color: #275e59;
}

.accountInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accountAddress, .balance {
  color: #fff;
  background-color: #164b4e;
  padding: 5px 15px;
  border-radius: 20px;
}

.copyButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.connectButton {
  background-color: #3e9790;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.connectButton1 {
  background-color: transparent;
  color: #3e9790;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.connectButton:hover {
  background-color: #039e7c;
}
