.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #303438;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.userImg{
  border-radius: 50%;
  width: 50px;
}

.logo {
  color: antiquewhite;
  margin: 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 10px;
}

.item a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.item a:hover, .item a.active {
  padding: 10px;
  color: #000000;
  background-color:antiquewhite;
}

.accountInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accountAddress, .balance {
  color: #000000;
  background-color: antiquewhite;
  padding: 5px 15px;
  border-radius: 20px;
}

.copyButton {
  padding: 3px;
  background: transparent;
  background-color: antiquewhite;
  border: 2px solid antiquewhite;
  cursor: pointer;
}
.copyButton:hover {
  background-color: rgba(250, 235, 215, 0.548);
}

.connectButton {
  background-color:antiquewhite;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.connectButton1 {
  background-color: transparent;
  color:antiquewhite;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.connectButton:hover {
  background-color:antiquewhite;
  /* background-color: #039e7c; */
}

.connectButton1:hover {
  background-color:antiquewhite;
  /* background-color: #039e5d; */
  color: black;
}
