/* VideoCard.module.css */

.content {
    /* border: 3px solid red; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.joinRoomBtn {
    color: black;
}
.joinRoomBtn:hover {
    background-color:rgb(255, 217, 168);
}

.card {
    display: flex;
    flex-direction: column;
    /* background-color: #1e1e1e;  */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);  */
    color: #fff;
    width: 300px;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
    transition: transform 0.2s;
}

.card a {
    text-decoration: none;
    color: #ffffff;
}

.colMd4 {
    /* border: 1px solid blue; */
    width: 100%;
}

.colMd8 {
    /* border: 1px solid red; */
    width: 100%;
}

.likes,
.dislikes {
    font-size: smaller;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: black;
    margin-right: 10px;
}

.username {
    display: flex;
    justify-content: space-between;
}

.likeDislike {
    margin: 0 10px;
    align-items: end;
    width: fit-content;
}



.imgFluid {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cardBody {
    margin: 10px;
    padding: 15px;
}


.cardTitle {
    text-align: start;
    color: #00e1ff;
    /* YouTube-like red for titles */
}

.cardText {
    font-size: 14px;
    text-align: start;
    color: #ccc;
    /* Lighter text for less emphasis */
}

.textMuted {
    color: #777;
    /* Muted text color */
}

.inputGroup {
    display: flex;
}

.formControl {
    flex: 1;
    padding: 10px;
    border: 1px solid #555;
    /* Darker border for input */
    background-color: #333;
    /* Dark input background */
    color: #fff;
    /* Light text */
    margin-right: 5px;
    /* Space between input and button */
}

.btn {
    padding: 10px 15px;
    background-color: #42abc5;
    /* YouTube-like red for buttons */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #b9b9b9;
    /* Darker red on hover */
    color: black;
}